// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
	width: 80vw;
	font-size:62.5%;
}
@titleFont:'Josefin Sans', serif;
@headercolor:#dab3bc;

h1, h2, h3{
	font-family: @titleFont;
	text-transform:uppercase;
	letter-spacing:0.6rem;
	padding: .4em;
	.centered();
}
h1{
	font-size: 3rem;
	letter-spacing:0.8rem;
}
h2{
	font-size: 2rem;
}
h3{
	font-size: 1.5rem;
}
h4{
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-size: 1.5rem;
	line-height: 2rem;
	.centered();
}
p, li{
	font-family: 'Lato', sans-serif;
	font-size: 1.5rem;
	line-height:2.2rem;
}
.centered{
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}

.section-title{
	font-family: @titleFont;
	text-align: center;}

.navIcons{
	color:black;
	display: flex;
	align-items:center;
	justify-content:space-between;}


@media (max-width: 500px) {}

header{
	background-color: @headercolor;
	width:90vw;
	height:20vh;
	.centered();
}
	
.profile{
	padding: 3% 13%;
	.centered();
	h2 {
		padding:0 0 1.2em;
	}
	p{
		margin: 0 10%;
		text-align: center
	}
}